bookstore{
    background: whitesmoke;
    color: peru;
    font-size: 10px;
}

books{
    display: table;
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    columns: 3;
}

book {
    display: table-row;
    padding: 4px;
    border: solid 1px;
    border-color: black;
}

title {
    display: block;
    text-align: center;
}

releaseDate {
    display: block;
    text-align: center;
}

day:before{
    content: "Dzień: ";
}

month:before{
    content: "Miesiąc: ";
}

year:before{
    content: "Rok: ";
}



authors {
    display: block;
    color: purple;
    font-size: 15px;
    text-align: center;
}